/* Change size of all buttons */
.key {
    width: 300px;
    height: 300px;
  }

  /* Change size of input textbox */
  .input {
    width: 240px;
    height: 60px;
  }

  /* Change specific backspace button */
  #backspace {
    background-color: #FF0000;
  }

  /* Make canvas fullscreen */
  #screenCanvas {
    width: 100%;
    text-align:center;
 }
 
