input {
    width: 100%;
    height: 100px;
    padding: 20px;
    font-size: 20px;
    border: none;
    box-sizing: border-box;
  }
  
  .simple-keyboard {
    height: 100%;
  }
  
  .simple-keyboard .hg-row:not(:first-child):not(:last-child) {
    justify-content: space-between;
  }
  
  .simple-keyboard .hg-row:not(:first-child):not(:last-child) .hg-button {
    flex-grow: unset;
    min-width: 100px;
  }
  